<div class="container-fluid">
  <div class="row">

    <!-- First Card -->
    <div class="col-md-6">
      <div class="card card-form">
        <div class="card-body">
          <form (ngSubmit)="addProduct($event)">


            <div class="form-row d-flex justify-content-between">
              <div class="form-group col-md-6">
                <label for="brand">Brand</label>
                <input type="text" class="form-control" id="brand" [(ngModel)]="brand" name="brand" placeholder="Brand"
                       required>
              </div>
              <div class="form-group col-md-5">
                <label for="model">Model</label>
                <input type="text" class="form-control" id="model" [(ngModel)]="model" name="model" placeholder="Model"
                       required>
              </div>

            </div>

            <div class="form-row d-flex justify-content-between">
              <div class="form-group col-md-6">
                <label for="price">Price</label>
                <input type="number" class="form-control" id="price" [(ngModel)]="price" name="price"
                       placeholder="Price" required>
              </div>
              <div class="form-group col-md-5">
                <label for="image">Images</label>
                <input type="file" class="form-control" id="image" (change)="onFileChange($event)" name="image"
                       multiple>
              </div>
            </div>
            <div class="form-row d-flex justify-content-between">
              <div class="form-group col-md-12">
                <label for="trimLevels">Trim Levels</label>
                <input type="text" class="form-control" id="trimLevels" [(ngModel)]="trimLevels" name="trimLevels"
                       placeholder="Trim levels" required>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Adaugă produs în tabel</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Second Card -->
    <div class="col-md-6">
      <div class="card card-form">
        <div class="card-body">
          <form (ngSubmit)="addOwner($event)">
            <div class="form-row d-flex justify-content-between">
              <div class="form-group col-md-12">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" [(ngModel)]="name" name="name" placeholder="Name"
                       required>
              </div>
            </div>
            <div class="form-row d-flex justify-content-between">
              <div class="form-group col-md-6">
                <label for="date">Date</label>
                <input type="text" class="form-control" id="date" [(ngModel)]="date" name="date" placeholder="Date"
                       required>
              </div>
              <div class="form-group col-md-5">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" id="phone" [(ngModel)]="phone" name="phone" placeholder="Phone"
                       required>
              </div>
            </div>
            <button type="submit" class="btn btn-secondary">Adaugă client</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="container-fluid">
  <div class="card card-table ">
    <div class="card-body">
      <h3 *ngIf="owner">Produsele pentru clientul {{ owner.name }}</h3>
      <h3 *ngIf="!owner">Adaugă client</h3>
      <button (click)="generateOfferPdf()">Generați PDF</button>

      <table class="table">
        <thead>
        <tr>
          <th>ID</th>
          <th>Brand</th>
          <th>Model</th>
          <th>Trim Levels</th>
          <th>Price</th>
          <th>Image</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ product.brand }}</td>
          <td>{{ product.model }}</td>
          <td>{{ product.trimLevel }}</td>
          <td>{{ product.price }}</td>
          <td>
            <img [src]="getSafeURL(product.imageUrls[0])" alt="Product Image" width="120">
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div *ngIf="showAlert" class="alert alert-danger alert-dismissible fade show position-fixed top-0 end-0 m-3"
     role="alert">
  {{ msgAtAlert }}
</div>
